<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="QA Assignment Suite" verbose="1" parallel="methods" thread-count="2">

    <test name="API + UI">
        <classes>
            <class name="cz.whalebone.tests.api.TeamsApiTests"/>
            <class name="cz.whalebone.tests.ui.UiTestingPlaygroundTests"/>
            <class name="cz.whalebone.tests.ui.OldestNHLTeamRosterScrapeTests"/>
        </classes>
    </test>

</suite>
